.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  border-bottom: 1px solid var(--color-border-primary);

  tr {
    border-bottom: 1px solid var(--color-border-primary);

    &:nth-child(odd) {
      background-color: var(--color-background-primary-active);
    }
  }

  th,
  td {
    padding: 5px 10px;
    text-align: left;
  }
}

.btn {
  background-color: #00bfff;
  width: 180px;
  border-radius: 5px;
  border-color: #00bfff;
  margin-top: 20px;
  margin-left: 20px;
}
